<header class="d-none d-md-block grid">
    <div class="container-fluid container-nav-search">
        <div class="row justify-content-around h-100">
            <div class="col-4 div-title align-self-center text-center">
                <img class="content-img-heart mr-3 rounded" width="80%" src="assets/graphic-resources/logo.svg">
            </div>
            <div class="col-4 div-search align-self-center text-center">
                <div class="input-group mb-1">
                    <input type="text" class="form-control input-search" placeholder="Buscar aquí producto"
                        aria-label="Buscar aquí producto" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-search" type="button">
                            <img class="content-img-heart mr-3 rounded" width="30"
                                src="assets/graphic-resources/icon-search.png">
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-1 align-self-center text-end">
                <img class="content-img-heart mr-3 rounded" width="50%" src="assets/graphic-resources/icon-cart.svg">
            </div>
            <div class="col-2 align-self-center">
                <img class="content-img-heart mr-3 rounded" width="20%" src="assets/graphic-resources/icon-user.png">
                <span class="span-session">Iniciar sesión</span>
            </div>
        </div>
    </div>
</header>
<div>
    <header class="d-sm-block d-md-none header-sm">
        <div class="row">
            <div class="col-2 align-self-center text-center">
                <img class="content-img-heart mr-3 rounded" style="cursor: pointer;" width="80%"
                    src="assets/graphic-resources/icon-menu.svg">
            </div>
            <div class="col-7 align-self-center">
                <img class="content-img-heart mr-3 rounded" width="100%" src="assets/graphic-resources/logo.svg">
            </div>
            <div class="col-3 align-self-center text-center">
                <img class="content-img-heart mr-3 rounded" width="37%" src="assets/graphic-resources/icon-search.png">
                <img class="content-img-heart mr-3 rounded" width="40%" src="assets/graphic-resources/icon-cart.svg">
            </div>
        </div>
    </header>
</div>