<div class="container-footer">
    <footer class="d-none d-md-block grid">
        <div class="d-flex flex-row justify-content-around div-info">
            <div class="p-2">
                <h3 style="padding-bottom: 1.5rem">POLÍTICAS</h3>
                <p class="p-politicas">Políticas de privacidad</p>
                <p class="p-politicas">Políticas de cambio</p>
                <p class="p-politicas">Políticas de envío</p>
                <p class="p-politicas">Términos y condiciones</p>
                <p class="p-politicas">Responsabilidad social</p>
            </div>
            <div class="p-2">
                <h3 style="padding-bottom: 1.5rem">ACERCA DE SPEEDO</h3>
                <p class="p-acerca">Encuentra tu tienda</p>
                <p class="p-acerca">Contáctanos</p>
                <p class="p-acerca">Trabaja con nosotros</p>

            </div>
            <div class="p-2">
                <h3 style="padding-bottom: 1.5rem">SÍGUENOS EN:</h3>
                <div class="container-img">
                    <div class="item-img">
                        <img class="content-img-heart mr-3 circular p-1" width="50"
                            src="assets/graphic-resources/icon-facebook.svg" alt="">
                    </div>
                    <div class="item-img">
                        <img class="content-img-heart mr-3 circular p-1" width="50"
                            src="assets/graphic-resources/icon-twitter.svg" alt="">
                    </div>
                    <div class="item-img">
                        <img class="content-img-heart mr-3 circular p-1" width="50"
                            src="assets/graphic-resources/icon-instagram.svg" alt="">
                    </div>
                    <div class="item-img rounded-circle">
                        <img class="content-img-heart mr-3 circular p-1" width="50"
                            src="assets/graphic-resources/icon-youtube.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-left: 2.5rem; padding-right: 2.5rem;">
            <div class="col border-top text-center div-copyright">
                <p class="p-copyright">©Copyright Colombia. Todos los derechos reservados</p>
            </div>
        </div>
    </footer>
    <footer class="d-sm-block d-md-none">
        <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 border-light bd-highlight div-politicas">POLÍTICAS</div>
            <div class="p-2 bd-highlight div-acerca">ACERCA DE SPEEDO</div>
            <div class="p-2 bd-highlight div-medios">MEDIOS DE PAGO</div>
        </div>
    </footer>
</div>