<nav class="nav nav-horizontal justify-content-center">
    <li class="nav-item nav-link">
        Hombre
    </li>
    <div class="barra"></div>
    <li class="nav-item nav-link">
        Mujer
    </li>
    <div class="barra"></div>
    <li class="nav-item nav-link">
        Junior
    </li>
    <div class="barra"></div>
    <li class="nav-item nav-link">
        Niños
    </li>
    <div class="barra"></div>
    <li class="nav-item nav-link">
        Accesorios
    </li>
    <div class="barra"></div>
    <li class="nav-item nav-link">
        Ofertas
    </li>
</nav>

<nav class="navbar navbar-dark" style="display: none">
    <div class="container-fluid">
        <button class="navbar-toggler" style="background: #333" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>