.section-magazine {
  display: flex;
  flex-wrap: wrap;
  padding: 0.8rem 2rem 1.8rem 1.8rem;
}

.magazine__img {
  display: block;
  max-width: 100%;
}

.article-magazine {
  margin-top: 1.3rem;
}

@media screen and (min-width: 767px) {
  .magazine__img {
    display: block;
    max-width: 100%;
  }
}
