<section class="section-magazine d-none d-md-block grid">
    <div class="row">
        <div class="col">
            <article class="article-magazine magazine-one">
                <img class="magazine__img" src="assets/graphic-resources/banner-moda-infantil.jpg" />
            </article>
        </div>
        <div class="col">
            <article class="article-magazine magazine-two">
                <img class="magazine__img" src="assets/graphic-resources/banner-deportivo.jpg" />
            </article>
        </div>
    </div>
</section>

<section class="section-magazine d-sm-block d-md-none">
    <article class="article-magazine magazine-two">
        <img class="magazine__img" src="assets/graphic-resources/banner-deportivo.jpg" />
    </article>
    <article class="article-magazine magazine-one">
        <img class="magazine__img" src="assets/graphic-resources/banner-moda-infantil.jpg" />
    </article>
</section>